@model BooksStore.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="row">
    <div class="col-md-2">
        <h2>Twoj konto.<br /><small>@User.Identity.Name</small></h2>
    </div>
    <div class="col-md-2 col-md-offset-8">
        @if (Model.HasPassword)
            {
            @Html.ActionLink("Zmień hasło", "ChangePassword", null, new { @class = "btn btn-success", @style="margin-top:50px;" })
        }
        else
        {
            @Html.ActionLink("Utwórz hasło", "SetPassword", null, new { @class = "btn btn-success" })
        }

    </div>

</div>


<p class="text-success">@ViewBag.StatusMessage</p>

<hr />


<div>
    @{Html.RenderAction("Index", "Orders");}
</div>
